In [1]:
import pandas as pd

In [2]:
!ls

HeroesOfPyMoli.ipynb
HeroesOfPymoli_Example.pdf
Part1.py
Part2.py
Part3.py
Part4.py
purchase_data.json
purchase_data2.json

In [3]:
json_path = 'purchase_data.json'
df = pd.read_json(json_path)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [4]:
df.describe()

              Age     Item ID       Price
count  780.000000  780.000000  780.000000
mean    22.729487   91.293590    2.931192
std      6.930604   52.707537    1.115780
min      7.000000    0.000000    1.030000
25%     19.000000   44.000000    1.960000
50%     22.000000   91.000000    2.880000
75%     25.000000  135.000000    3.910000
max     45.000000  183.000000    4.950000

In [5]:
df.columns.tolist()

['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN']

In [6]:
new_df= df.columns=['Age', 'Gender', 'Item_ID', 'Item_Name', 'Price', 'SN']
df.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [7]:
# **Player Count**

# * Total Number of Players

In [8]:
player_count = len(df)
player_count

780

In [9]:
player_count_df = pd.DataFrame({'Number of Players':[player_count]})
player_count_df

   Number of Players
0                780

In [10]:
# **Purchasing Analysis (Total)**

# * Number of Unique Items
# * Average Purchase Price
# * Total Number of Purchases
# * Total Revenue

In [11]:
df.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [12]:
# * Number of Unique Items

unique_items = df.Item_Name.unique()
num_unique_items = len(unique_items)
num_unique_items

179

In [13]:
# * Average Purchase Price
average_price = round(df.Price.mean(),2)
average_price

2.93

In [14]:
# * Total Number of Purchases
total_purchase_number = len(df.Price)
total_purchase_number

780

In [15]:
# * Total Revenue
total_revenue = round(df.Price.sum(),0)
total_revenue

2286.0

In [16]:
# pd.options.display.float_format = '${:,.2f}'.format

purchasing_analysis_df = pd.DataFrame({'Number of Unique Items':[num_unique_items], 'Average Pirce': [average_price],
                                      'Number of Purchases': [total_purchase_number], 'Total Revenue':[total_revenue]})
purchasing_analysis_df = purchasing_analysis_df[['Number of Unique Items', 'Average Pirce', 
                                                 'Number of Purchases', 'Total Revenue']]
purchasing_analysis_df

   Number of Unique Items  Average Pirce  Number of Purchases  Total Revenue
0                     179           2.93                  780         2286.0

In [17]:
# **Gender Demographics**

# * Percentage and Count of Male Players
# * Percentage and Count of Female Players
# * Percentage and Count of Other / Non-Disclosed

In [18]:
df.head(10)

,Age,Gender,Item_ID,Item_Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92

In [19]:
# * Percentage and Count of Male Players
gender_total = len(df.Gender)
gender_total

780

In [20]:
male_count = len(df[df['Gender'] == 'Male'])
male_count

633

In [21]:
percent_male = round((male_count/gender_total)*100,2)
percent_male

81.15

In [22]:
data_male = {'Percentage of Players':[percent_male], 'Total Count':[male_count]}
male_df = pd.DataFrame(data_male, index = ['Male'])
male_df

      Percentage of Players  Total Count
Male                  81.15          633

In [23]:
# * Percentage and Count of Female Playersmale_count = len(df[df['Gender'] == 'Male'])
female_count = len(df[df['Gender'] == 'Female'])
female_count

136

In [24]:
percent_female = round((female_count/gender_total)*100,2)
percent_female

17.44

In [25]:
data_female = {'Percentage of Players':[percent_female], 'Total Count':[female_count]}
female_df = pd.DataFrame(data_female, index = ['Female'])
female_df

        Percentage of Players  Total Count
Female                  17.44          136

In [26]:

df.Gender.unique()

array(['Male', 'Female', 'Other / Non-Disclosed'], dtype=object)

In [27]:
# * Percentage and Count of Other / Non-Disclosed
other_count = len(df[(df['Gender'] != 'Male') & (df['Gender'] != 'Female')])
other_count

11

In [28]:
percent_other = round((other_count/gender_total)*100,2)
percent_other

1.41

In [29]:
data_other = {'Percentage of Players':[percent_other], 'Total Count':[other_count]}
other_df = pd.DataFrame(data_other, index = ['Other / Non-Disclosed'])
other_df

                       Percentage of Players  Total Count
Other / Non-Disclosed                   1.41           11

In [30]:
frames_demographic = [male_df, female_df, other_df]

result_demographic = pd.concat(frames_demographic)
result_demographic

                       Percentage of Players  Total Count
Male                                   81.15          633
Female                                 17.44          136
Other / Non-Disclosed                   1.41           11

In [31]:
# **Purchasing Analysis (Gender)** 

# * The below each broken by gender
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Normalized Totals

In [32]:
df.head(10)

,Age,Gender,Item_ID,Item_Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92

In [33]:
#    FOR MALE 
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Normalized Totals

In [34]:
male_data = df[df['Gender'] == 'Male']
male_data.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [35]:
purchase_count_male = len(male_data)
purchase_count_male

633

In [36]:
#   * Average Purchase Price
average_price_male = round(male_data.Price.mean(),2)
average_price_male

2.95

In [37]:
#   * Total Purchase Value
total_revenue_male = round(male_data.Price.sum(),2)
total_revenue_male

1867.68

In [38]:
mean_price_male = round(male_data.Price.dropna().mean(),2)
mean_price_male

2.95

In [39]:
max_price_male = male_data.Price.dropna().max()
max_price_male

4.9500000000000002

In [40]:
min_price_male = male_data.Price.dropna().min()
min_price_male

1.03

In [41]:
male_data.head(10)

,Age,Gender,Item_ID,Item_Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29

In [42]:
male_data['Price'] = male_data['Price'] - mean_price_male

C:\Users\mrbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [43]:
male_data.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,0.42,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",-0.63,Eolo46
2,34,Male,174,Primitive Blade,-0.49,Assastnya25
3,21,Male,92,Final Critic,-1.59,Pheusrical25
4,23,Male,63,Stormfury Mace,-1.68,Aela59

In [44]:
normalized_price_constant_male = male_data['Price'].mean()
normalized_price_constant_male

0.0005213270142178941

In [45]:
normalized_price_male = round(mean_price_male - normalized_price_constant_male,2)
normalized_price_male

2.95

In [46]:
male_data = {'Purchase Count':[purchase_count_male], 'Average Purchase Price':[mean_price_male], 
            'Total Purchase Price': [total_revenue_male], 'Normalized Price': [normalized_price_male]}
male_data = pd.DataFrame(male_data, index = ['Male'])
male_data

,Average Purchase Price,Normalized Price,Purchase Count,Total Purchase Price
Male,2.95,2.95,633,1867.68

In [47]:
df.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [48]:
#    FOR FEMALE 
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Normalized Totals

In [49]:
female_data = df[df['Gender'] == 'Female']
female_data.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
22,11,Female,11,Brimstone,2.52,Deural48
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25

In [50]:
purchase_count_female = len(female_data)
purchase_count_female

136

In [51]:
mean_price_female = round(female_data.Price.mean(),2)
mean_price_female

2.82

In [52]:
total_revenue_female = round(female_data.Price.sum(),2)
total_revenue_female

382.91

In [53]:
max_price_female = female_data.Price.dropna().max()
max_price_female

4.9500000000000002

In [54]:
min_price_female = female_data.Price.dropna().min()
min_price_female

1.03

In [55]:
female_data['Price'] = female_data['Price'] - mean_price_female

C:\Users\mrbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [56]:
female_data.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
7,29,Female,169,"Interrogator, Blood Blade of the Queen",0.50,Iathenudil29
16,22,Female,123,Twilight's Carver,-1.68,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",-1.17,Aenarap34
22,11,Female,11,Brimstone,-0.30,Deural48
29,16,Female,45,Glinting Glass Edge,-0.36,Phaedai25

In [57]:
normalized_price_constant_female = female_data['Price'].mean()
normalized_price_constant_female

-0.004485294117646882

In [58]:
normalized_price_female = round(mean_price_female - normalized_price_constant_female,2)
normalized_price_female

2.82

In [59]:
female_data = {'Purchase Count':[purchase_count_female], 'Average Purchase Price':[mean_price_female], 
            'Total Purchase Price': [total_revenue_female], 'Normalized Price': [normalized_price_female]}


female_data = pd.DataFrame(female_data, index = ['Female'])
female_data

,Average Purchase Price,Normalized Price,Purchase Count,Total Purchase Price
Female,2.82,2.82,136,382.91

In [60]:
df.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [61]:
#    FOR OTHERS
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Normalized Totals

In [62]:
other_data = df[(df['Gender'] != 'Male') & (df['Gender'] != 'Female')]
other_data.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
177,34,Other / Non-Disclosed,155,War-Forged Gold Deflector,3.73,Assassa38
209,33,Other / Non-Disclosed,157,"Spada, Etcher of Hatred",2.21,Frichistasta59
244,21,Other / Non-Disclosed,183,Dragon's Greatsword,2.36,Tyaerith73
267,33,Other / Non-Disclosed,65,Conqueror Adamantite Mace,1.96,Frichistasta59
276,12,Other / Non-Disclosed,128,"Blazeguard, Reach of Eternity",4.00,Aillycal84

In [63]:
purchase_count_other = len(other_data)
purchase_count_other

11

In [64]:
mean_price_other = round(other_data.Price.mean(),2)
mean_price_other

3.25

In [65]:
total_revenue_other = round(other_data.Price.sum(),2)
total_revenue_other

35.74

In [66]:
max_price_other = other_data.Price.dropna().max()
max_price_other

4.3200000000000003

In [67]:
min_price_other = other_data.Price.dropna().min()
min_price_other

1.8799999999999999

In [68]:
other_data['Price'] = other_data['Price'] - mean_price_other

C:\Users\mrbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [69]:
other_data.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
177,34,Other / Non-Disclosed,155,War-Forged Gold Deflector,0.48,Assassa38
209,33,Other / Non-Disclosed,157,"Spada, Etcher of Hatred",-1.04,Frichistasta59
244,21,Other / Non-Disclosed,183,Dragon's Greatsword,-0.89,Tyaerith73
267,33,Other / Non-Disclosed,65,Conqueror Adamantite Mace,-1.29,Frichistasta59
276,12,Other / Non-Disclosed,128,"Blazeguard, Reach of Eternity",0.75,Aillycal84

In [70]:
normalized_price_constant_other = other_data['Price'].mean()
normalized_price_constant_other

-0.0009090909090909301

In [71]:
normalized_price_other = round(mean_price_other - normalized_price_constant_other,2)
normalized_price_other

3.25

In [72]:
other_data = {'Purchase Count':[purchase_count_other], 'Average Purchase Price':[mean_price_other], 
            'Total Purchase Price': [total_revenue_other], 'Normalized Price': [normalized_price_other]}
other_data = pd.DataFrame(other_data, index = ['Other / Non-Disclosed'])
other_data

,Average Purchase Price,Normalized Price,Purchase Count,Total Purchase Price
Other / Non-Disclosed,3.25,3.25,11,35.74

In [73]:
frames_purchasing = [male_data, female_data, other_data]

#pd.options.display.float_format = '${:,.2f}'.format
result_purchasing = pd.concat(frames_purchasing)
result_purchasing.index.name = 'Gender'
result_purchasing

,Average Purchase Price,Normalized Price,Purchase Count,Total Purchase Price
Gender,,,,
Male,2.95,2.95,633,1867.68
Female,2.82,2.82,136,382.91
Other / Non-Disclosed,3.25,3.25,11,35.74

In [74]:
# **Age Demographics**

# * The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Normalized Totals

In [75]:
df.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [76]:
data_size= len(df)
data_size

780

In [77]:
df.Age.min()

7

In [78]:
df.Age.max()

45

In [79]:
less_10 = df[df['Age'] < 10]
less_10.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
70,7,Female,158,"Darkheart, Butcher of the Champion",3.56,Eosurdru76
121,7,Male,175,Woeful Adamantite Claymore,1.24,Lassjask63
125,7,Female,10,Sleepwalker,1.73,Heosurnuru52
170,9,Male,71,Demise,4.07,Reulae52
237,7,Male,121,Massacre,3.42,Lisistaya47

In [80]:
size_10 = len(less_10)
size_10

28

In [81]:
percent_10 = round((size_10/data_size)*100,2)
percent_10

3.59

In [82]:
mean_price_10 = round(less_10.Price.mean(),2)
mean_price_10

2.98

In [83]:
total_purchase_10 = round(less_10.Price.sum(),2)
total_purchase_10

83.46

In [84]:
mean_price_10 = round(less_10.Price.dropna().mean(),2)
max_price_10 = less_10.Price.dropna().max()
min_price_10 = less_10.Price.dropna().min()
less_10['Price'] = less_10['Price'] - mean_price_10
normalized_price_constant_10 = less_10['Price'].mean()
normalized_price_10 = round(mean_price_10 - normalized_price_constant_10,2)
normalized_price_10

C:\Users\mrbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

2.98

In [85]:
percent_10_df = {'Percentage of Players':[percent_10], 'Total Count':[size_10]}
percent_10_df = pd.DataFrame(percent_10_df, index = ['<10'])
percent_10_df

     Percentage of Players  Total Count
<10                   3.59           28

In [86]:
percent_10_df_analysis = {'Average Purchased Price':[mean_price_10], 'Purchase Count':[size_10],
                         'Total Purchase Value': [total_purchase_10], 'Normalized Total': [normalized_price_10]}

percent_10_df_analysis = pd.DataFrame(percent_10_df_analysis, index = ['<10'])

percent_10_df_analysis = percent_10_df_analysis[['Purchase Count', 'Average Purchased Price', 
                                                 'Total Purchase Value', 'Normalized Total']] 

percent_10_df_analysis

,Purchase Count,Average Purchased Price,Total Purchase Value,Normalized Total
<10,28,2.98,83.46,2.98

In [87]:
btw_10_14 = df[(df['Age'] >= 10) & (df['Age'] <15)]
btw_10_14.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
22,11,Female,11,Brimstone,2.52,Deural48
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67
46,11,Male,17,"Lazarus, Terror of the Earth",3.47,Palatyon26
68,11,Male,38,"The Void, Vengeance of Dark Magic",2.82,Qarwen67
117,11,Male,160,Azurewrath,2.22,Qarwen67

In [88]:
size_btw_10_14 = len(btw_10_14)
size_btw_10_14

35

In [89]:
percent_btw_10_14 = round((size_btw_10_14/data_size)*100,2)
percent_btw_10_14

4.49

In [90]:
mean_price_btw_10_14 = round(btw_10_14.Price.mean(),2)
total_purchase_btw_10_14 = round(btw_10_14.Price.sum(),2)

In [91]:
mean_btw_10_14 = round(btw_10_14.Price.dropna().mean(),2)
max_btw_10_14 = btw_10_14.Price.dropna().max()
min_btw_10_14 = btw_10_14.Price.dropna().min()
btw_10_14['Price'] = btw_10_14['Price'] - mean_price_btw_10_14
normalized_price_constant_btw_10_14 = btw_10_14['Price'].mean()
normalized_price_btw_10_14 = round(mean_price_btw_10_14 - normalized_price_constant_btw_10_14,2)
normalized_price_btw_10_14

C:\Users\mrbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

2.77

In [92]:
percent_btw_10_14_df = {'Percentage of Players':[percent_btw_10_14], 'Total Count':[size_btw_10_14]}
percent_btw_10_14_df = pd.DataFrame(percent_btw_10_14_df, index = ['10 - 14'])
percent_btw_10_14_df

         Percentage of Players  Total Count
10 - 14                   4.49           35

In [93]:
percent_btw_10_14_df_analysis = {'Average Purchased Price':[mean_price_btw_10_14], 'Purchase Count':[size_btw_10_14],
                         'Total Purchase Value': [total_purchase_btw_10_14], 'Normalized Total': [normalized_price_btw_10_14]}

percent_btw_10_14_df_analysis = pd.DataFrame(percent_btw_10_14_df_analysis, index = ['10 - 14'])

percent_btw_10_14_df_analysis = percent_btw_10_14_df_analysis[['Purchase Count', 'Average Purchased Price', 
                                                 'Total Purchase Value', 'Normalized Total']] 

percent_btw_10_14_df_analysis

,Purchase Count,Average Purchased Price,Total Purchase Value,Normalized Total
10 - 14,35,2.77,96.95,2.77

In [94]:
btw_15_19 = df[(df['Age'] >= 15) & (df['Age'] <20)]
btw_15_19.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
21,15,Male,3,Phantomlight,1.79,Iaralrgue74
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
31,18,Male,37,"Shadow Strike, Glory of Ending Hope",1.93,Iarilis73

In [95]:
size_btw_15_19  = len(btw_15_19 )
size_btw_15_19

133

In [96]:
percent_btw_15_19 = round((size_btw_15_19/data_size)*100,2)
percent_btw_15_19

17.05

In [97]:
mean_price_btw_15_19 = round(btw_15_19.Price.mean(),2)
total_purchase_btw_15_19 = round(btw_15_19.Price.sum(),2)

In [98]:
mean_btw_15_19 = round(btw_15_19.Price.dropna().mean(),2)
max_btw_15_19 = btw_15_19.Price.dropna().max()
min_btw_15_19 = btw_15_19.Price.dropna().min()
btw_15_19['Price'] = btw_15_19['Price'] - mean_price_btw_15_19
normalized_price_constant_btw_15_19 = btw_15_19['Price'].mean()
normalized_price_btw_15_19 = round(mean_price_btw_15_19 - normalized_price_constant_btw_15_19,2)
normalized_price_btw_15_19

C:\Users\mrbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

2.91

In [99]:
percent_btw_15_19_df = {'Percentage of Players':[percent_btw_15_19], 'Total Count':[size_btw_15_19]}
percent_btw_15_19_df = pd.DataFrame(percent_btw_15_19_df, index = ['15 - 19'])
percent_btw_15_19_df

         Percentage of Players  Total Count
15 - 19                  17.05          133

In [100]:
percent_btw_15_19_df_analysis = {'Average Purchased Price':[mean_price_btw_15_19], 'Purchase Count':[size_btw_15_19],
                         'Total Purchase Value': [total_purchase_btw_15_19], 'Normalized Total': [normalized_price_btw_15_19]}

percent_btw_15_19_df_analysis = pd.DataFrame(percent_btw_15_19_df_analysis, index = ['15 - 19'])

percent_btw_15_19_df_analysis = percent_btw_15_19_df_analysis[['Purchase Count', 'Average Purchased Price', 
                                                 'Total Purchase Value', 'Normalized Total']] 

percent_btw_15_19_df_analysis

,Purchase Count,Average Purchased Price,Total Purchase Value,Normalized Total
15 - 19,133,2.91,386.42,2.91

In [101]:
btw_19_24 = df[(df['Age'] >= 20) & (df['Age'] <25)]
btw_19_24.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97

In [102]:
size_btw_19_24  = len(btw_19_24 )
size_btw_19_24

336

In [103]:
percent_btw_19_24 = round((size_btw_19_24/data_size)*100,2)
percent_btw_19_24

43.08

In [104]:
mean_price_btw_19_24 = round(btw_19_24.Price.mean(),2)
total_purchase_btw_19_24 = round(btw_19_24.Price.sum(),2)

In [105]:
mean_btw_19_24 = round(btw_19_24.Price.dropna().mean(),2)
max_btw_19_24 = btw_19_24.Price.dropna().max()
min_btw_19_24 = btw_19_24.Price.dropna().min()
btw_19_24['Price'] = btw_19_24['Price'] - mean_price_btw_19_24
normalized_price_constant_btw_19_24 = btw_19_24['Price'].mean()
normalized_price_btw_19_24 = round(mean_price_btw_19_24 - normalized_price_constant_btw_19_24,2)
normalized_price_btw_19_24

C:\Users\mrbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

2.91

In [106]:
percent_btw_19_24_df = {'Percentage of Players':[percent_btw_19_24], 'Total Count':[size_btw_19_24]}
percent_btw_19_24_df = pd.DataFrame(percent_btw_19_24_df, index = ['20 - 24'])
percent_btw_19_24_df

         Percentage of Players  Total Count
20 - 24                  43.08          336

In [107]:
percent_btw_19_24_df_analysis = {'Average Purchased Price':[mean_price_btw_19_24], 'Purchase Count':[size_btw_19_24],
                         'Total Purchase Value': [total_purchase_btw_19_24], 'Normalized Total': [normalized_price_btw_19_24]}

percent_btw_19_24_df_analysis = pd.DataFrame(percent_btw_19_24_df_analysis, index = ['20 - 24'])

percent_btw_19_24_df_analysis = percent_btw_19_24_df_analysis[['Purchase Count', 'Average Purchased Price', 
                                                 'Total Purchase Value', 'Normalized Total']] 

percent_btw_19_24_df_analysis

,Purchase Count,Average Purchased Price,Total Purchase Value,Normalized Total
20 - 24,336,2.91,978.77,2.91

In [108]:
btw_25_29 = df[(df['Age'] >= 25) & (df['Age'] <30)]
btw_25_29.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
18,28,Male,91,Celeste,3.71,Iskista88
26,29,Male,132,Persuasion,3.90,Aerithllora36
54,25,Female,101,Final Critic,4.62,Minduli80

In [109]:
size_btw_25_29  = len(btw_25_29)
size_btw_25_29

125

In [110]:
percent_btw_25_29 = round((size_btw_25_29/data_size)*100,2)
percent_btw_25_29

16.03

In [111]:
mean_price_btw_25_29 = round(btw_25_29.Price.mean(),2)
total_purchase_btw_25_29 = round(btw_25_29.Price.sum(),2)

In [112]:
mean_btw_25_29 = round(btw_25_29.Price.dropna().mean(),2)
max_btw_25_29 = btw_25_29.Price.dropna().max()
min_btw_25_29 = btw_25_29.Price.dropna().min()
btw_25_29['Price'] = btw_25_29['Price'] - mean_price_btw_25_29
normalized_price_constant_btw_25_29 = btw_25_29['Price'].mean()
normalized_price_btw_25_29 = round(mean_price_btw_25_29 - normalized_price_constant_btw_25_29,2)
normalized_price_btw_25_29

C:\Users\mrbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

2.96

In [113]:
percent_btw_25_29_df = {'Percentage of Players':[percent_btw_25_29], 'Total Count':[size_btw_25_29]}
percent_btw_25_29_df = pd.DataFrame(percent_btw_25_29_df, index = ['25 - 29'])
percent_btw_25_29_df

         Percentage of Players  Total Count
25 - 29                  16.03          125

In [114]:
percent_btw_25_29_df_analysis = {'Average Purchased Price':[mean_price_btw_25_29], 'Purchase Count':[size_btw_25_29],
                         'Total Purchase Value': [total_purchase_btw_25_29], 'Normalized Total': [normalized_price_btw_25_29]}

percent_btw_25_29_df_analysis = pd.DataFrame(percent_btw_25_29_df_analysis, index = ['25 - 29'])

percent_btw_25_29_df_analysis = percent_btw_25_29_df_analysis[['Purchase Count', 'Average Purchased Price', 
                                                 'Total Purchase Value', 'Normalized Total']] 

percent_btw_25_29_df_analysis

,Purchase Count,Average Purchased Price,Total Purchase Value,Normalized Total
25 - 29,125,2.96,370.33,2.96

In [115]:
btw_30_34 = df[(df['Age'] >= 30) & (df['Age'] <34)]
btw_30_34.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
12,30,Male,81,Dreamkiss,4.06,Iskossa88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43
37,31,Male,171,Scalpel,3.62,Sondossa91
40,32,Male,7,"Thorn, Satchel of Dark Souls",4.51,Tyisur83

In [116]:
size_btw_30_34  = len(btw_30_34)
size_btw_30_34

56

In [117]:
percent_btw_30_34 = round((size_btw_30_34/data_size)*100,2)
percent_btw_30_34

7.18

In [118]:
mean_price_btw_30_34 = round(btw_30_34.Price.mean(),2)
total_purchase_btw_30_34 = round(btw_30_34.Price.sum(),2)

In [119]:
mean_btw_30_34 = round(btw_30_34.Price.dropna().mean(),2)
max_btw_30_34 = btw_30_34.Price.dropna().max()
min_btw_30_34 = btw_30_34.Price.dropna().min()
btw_30_34['Price'] = btw_30_34['Price'] - mean_price_btw_30_34
normalized_price_constant_btw_30_34 = btw_30_34['Price'].mean()
normalized_price_btw_30_34 = round(mean_price_btw_30_34 - normalized_price_constant_btw_30_34,2)
normalized_price_btw_30_34

C:\Users\mrbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

3.09

In [120]:
percent_btw_30_34_df = {'Percentage of Players':[percent_btw_30_34], 'Total Count':[size_btw_30_34]}
percent_btw_30_34_df = pd.DataFrame(percent_btw_30_34_df, index = ['29 - 34'])
percent_btw_30_34_df

         Percentage of Players  Total Count
29 - 34                   7.18           56

In [121]:
percent_btw_30_34_df_analysis = {'Average Purchased Price':[mean_price_btw_30_34], 'Purchase Count':[size_btw_30_34],
                         'Total Purchase Value': [total_purchase_btw_30_34], 'Normalized Total': [normalized_price_btw_30_34]}

percent_btw_30_34_df_analysis = pd.DataFrame(percent_btw_30_34_df_analysis, index = ['29 - 34'])

percent_btw_30_34_df_analysis = percent_btw_30_34_df_analysis[['Purchase Count', 'Average Purchased Price', 
                                                 'Total Purchase Value', 'Normalized Total']] 

percent_btw_30_34_df_analysis

,Purchase Count,Average Purchased Price,Total Purchase Value,Normalized Total
29 - 34,56,3.09,172.93,3.09

In [122]:
btw_35_39 = df[(df['Age'] >= 35) & (df['Age'] <39)]
btw_35_39.head()

     Age  Gender  Item_ID                        Item_Name  Price           SN
0     38    Male      165      Bone Crushing Silver Skewer   3.37    Aelalis34
81    38    Male      175       Woeful Adamantite Claymore   1.24    Yaristi64
106   37  Female      174                  Primitive Blade   2.46   Chadossa56
175   35    Male       34                  Retribution Axe   4.14  Raillydeu47
189   35    Male      179  Wolf, Promise of the Moonwalker   1.88  Raillydeu47

In [123]:
size_btw_35_39  = len(btw_35_39)
size_btw_35_39

37

In [124]:
percent_btw_35_39 = round((size_btw_35_39/data_size)*100,2)
percent_btw_35_39

4.74

In [125]:
mean_price_btw_35_39 = round(btw_35_39.Price.mean(),2)
total_purchase_btw_35_39 = round(btw_35_39.Price.sum(),2)

In [126]:
mean_btw_35_39 = round(btw_35_39.Price.dropna().mean(),2)
max_btw_35_39 = btw_35_39.Price.dropna().max()
min_btw_35_39 = btw_35_39.Price.dropna().min()
btw_35_39['Price'] = btw_35_39['Price'] - mean_price_btw_35_39
normalized_price_constant_btw_35_39 = btw_35_39['Price'].mean()
normalized_price_btw_35_39 = round(mean_price_btw_35_39 - normalized_price_constant_btw_35_39,2)
normalized_price_btw_35_39

C:\Users\mrbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

2.81

In [127]:
percent_btw_35_39_df = {'Percentage of Players':[percent_btw_35_39], 'Total Count':[size_btw_35_39]}
percent_btw_35_39_df = pd.DataFrame(percent_btw_35_39_df, index = ['34 - 39'])
percent_btw_35_39_df

         Percentage of Players  Total Count
34 - 39                   4.74           37

In [128]:
percent_btw_35_39_df_analysis = {'Average Purchased Price':[mean_price_btw_35_39], 'Purchase Count':[size_btw_35_39],
                         'Total Purchase Value': [total_purchase_btw_35_39], 'Normalized Total': [normalized_price_btw_35_39]}

percent_btw_35_39_df_analysis = pd.DataFrame(percent_btw_35_39_df_analysis, index = ['34 - 39'])

percent_btw_35_39_df_analysis = percent_btw_35_39_df_analysis[['Purchase Count', 'Average Purchased Price', 
                                                 'Total Purchase Value', 'Normalized Total']] 

percent_btw_35_39_df_analysis

,Purchase Count,Average Purchased Price,Total Purchase Value,Normalized Total
34 - 39,37,2.81,104.06,2.81

In [129]:
more_40 = df[df['Age'] >= 40]
more_40.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
179,40,Male,70,Hope's End,3.89,Chanosiaya39
186,40,Male,144,Blood Infused Guardian,2.86,Chanosiaya39
212,40,Male,111,Misery's End,2.91,Yarmol79
238,40,Female,49,"The Oculus, Token of Lost Worlds",4.23,Chamadar27

In [130]:
size_more_40  = len(more_40)
size_more_40

17

In [131]:
percent_more_40 = round((size_more_40/data_size)*100,2)
percent_more_40

2.18

In [132]:
mean_price_more_40 = round(more_40.Price.mean(),2)
total_purchase_more_40 = round(more_40.Price.sum(),2)

In [133]:
mean_more_40 = round(more_40.Price.dropna().mean(),2)
max_more_40 = more_40.Price.dropna().max()
min_more_40 = more_40.Price.dropna().min()
more_40['Price'] = more_40['Price'] - mean_price_more_40
normalized_price_constant_more_40 = more_40['Price'].mean()
normalized_price_more_40 = round(mean_price_more_40 - normalized_price_constant_more_40,2)
normalized_price_more_40

C:\Users\mrbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

3.16

In [134]:
percent_more_40_df = {'Percentage of Players':[percent_more_40], 'Total Count':[size_more_40]}
percent_more_40_df = pd.DataFrame(percent_more_40_df, index = ['40+'])
percent_more_40_df

     Percentage of Players  Total Count
40+                   2.18           17

In [135]:
percent_more_40_df_analysis = {'Average Purchased Price':[mean_price_more_40], 'Purchase Count':[size_more_40],
                         'Total Purchase Value': [total_purchase_more_40], 'Normalized Total': [normalized_price_more_40]}

percent_more_40_df_analysis = pd.DataFrame(percent_more_40_df_analysis, index = ['40+'])

percent_more_40_df_analysis = percent_more_40_df_analysis[['Purchase Count', 'Average Purchased Price', 
                                                 'Total Purchase Value', 'Normalized Total']] 

percent_more_40_df_analysis

,Purchase Count,Average Purchased Price,Total Purchase Value,Normalized Total
40+,17,3.16,53.75,3.16

In [136]:
frames_age = [percent_10_df, percent_btw_10_14_df, percent_btw_15_19_df, percent_btw_19_24_df,
              percent_btw_25_29_df, percent_btw_30_34_df, percent_btw_35_39_df, percent_more_40_df]

#pd.options.display.float_format = '${:,.2f}'.format
result_age = pd.concat(frames_age)

result_age

         Percentage of Players  Total Count
<10                       3.59           28
10 - 14                   4.49           35
15 - 19                  17.05          133
20 - 24                  43.08          336
25 - 29                  16.03          125
29 - 34                   7.18           56
34 - 39                   4.74           37
40+                       2.18           17

In [137]:
frames_age_analysis = [percent_10_df_analysis, percent_btw_10_14_df_analysis, percent_btw_15_19_df_analysis, 
                       percent_btw_19_24_df_analysis,percent_btw_25_29_df_analysis, 
                       percent_btw_30_34_df_analysis, percent_btw_35_39_df_analysis, percent_more_40_df_analysis]

#pd.options.display.float_format = '${:,.2f}'.format
result_age_analysis = pd.concat(frames_age_analysis)

result_age_analysis

,Purchase Count,Average Purchased Price,Total Purchase Value,Normalized Total
<10,28,2.98,83.46,2.98
10 - 14,35,2.77,96.95,2.77
15 - 19,133,2.91,386.42,2.91
20 - 24,336,2.91,978.77,2.91
25 - 29,125,2.96,370.33,2.96
29 - 34,56,3.09,172.93,3.09
34 - 39,37,2.81,104.06,2.81
40+,17,3.16,53.75,3.16

In [138]:
# **Top Spenders**

# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   * SN
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value

In [139]:
df.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [148]:
df_spenders = pd.DataFrame(df)
df_spenders.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [149]:
df_spenders['Purchase_Count'] = df_spenders.groupby(['SN'])['Price'].transform('count')
df_spenders.head()

# df['Counts'] = df.groupby(['Color'])['Value'].transform('count')

,Age,Gender,Item_ID,Item_Name,Price,SN,Purchase_Count
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,2.0
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,1.0
2,34,Male,174,Primitive Blade,2.46,Assastnya25,2.0
3,21,Male,92,Final Critic,1.36,Pheusrical25,1.0
4,23,Male,63,Stormfury Mace,1.27,Aela59,1.0

In [156]:
total_purchase_price = df_spenders.Price * df_spenders.Purchase_Count
df_spenders['Total_Purchase_Price'] = total_purchase_price
df_spenders.head()

,Age,Gender,Item_ID,Item_Name,Price,SN,Purchase_Count,Total_Purchase_Price
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,2.0,6.74
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,1.0,2.32
2,34,Male,174,Primitive Blade,2.46,Assastnya25,2.0,4.92
3,21,Male,92,Final Critic,1.36,Pheusrical25,1.0,1.36
4,23,Male,63,Stormfury Mace,1.27,Aela59,1.0,1.27

In [160]:
top5_spenders = df_spenders.sort_values('Total_Purchase_Price', ascending=False)
top5_spenders.head(5)

,Age,Gender,Item_ID,Item_Name,Price,SN,Purchase_Count,Total_Purchase_Price
131,29,Male,62,Piece Maker,4.36,Undirrala66,5.0,21.80
107,29,Male,115,Spectral Diamond Doomblade,4.25,Undirrala66,5.0,21.25
304,31,Male,173,Stormfury Longsword,4.83,Sondastan54,4.0,19.32
596,29,Male,133,Faith's Scimitar,3.82,Undirrala66,5.0,19.10
411,25,Male,7,"Thorn, Satchel of Dark Souls",4.51,Saedue76,4.0,18.04

In [171]:
top5_spenders_clean = top5_spenders[['SN', 'Purchase_Count', 'Price', 'Total_Purchase_Price']]
top5_spenders_clean.head(5)

              SN  Purchase_Count  Price  Total_Purchase_Price
131  Undirrala66             5.0   4.36                 21.80
107  Undirrala66             5.0   4.25                 21.25
304  Sondastan54             4.0   4.83                 19.32
596  Undirrala66             5.0   3.82                 19.10
411     Saedue76             4.0   4.51                 18.04

In [176]:
top5_spenders_clean.columns = ['SN', 'Purchase Count', 'Average Purchase Price', 'Total Purchase Price']
top5_spenders_clean.head()

              SN  Purchase Count  Average Purchase Price  Total Purchase Price
131  Undirrala66             5.0                    4.36                 21.80
107  Undirrala66             5.0                    4.25                 21.25
304  Sondastan54             4.0                    4.83                 19.32
596  Undirrala66             5.0                    3.82                 19.10
411     Saedue76             4.0                    4.51                 18.04

In [187]:
# user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")

user_total = pd.DataFrametop5_spenders_clean.groupby(['SN']).sum()['Total Purchase Price']

In [173]:
spenders_top5 = top5_spenders_clean.set_index(['SN'])
spenders_top5.head()

             Purchase Count  Average Purchase Price  Total Purchase Price
SN
Undirrala66             5.0                    4.36                 21.80
Undirrala66             5.0                    4.25                 21.25
Sondastan54             4.0                    4.83                 19.32
Undirrala66             5.0                    3.82                 19.10
Saedue76                4.0                    4.51                 18.04

In [185]:
spenders_top5.groupby(df.index).sum()

     Purchase Count  Average Purchase Price  Total Purchase Price
0               5.0                    4.36                 21.80
1               5.0                    4.25                 21.25
2               4.0                    4.83                 19.32
3               5.0                    3.82                 19.10
4               4.0                    4.51                 18.04
5               4.0                    4.45                 17.80
6               4.0                    3.82                 15.28
7               4.0                    3.82                 15.28
8               4.0                    3.74                 14.96
9               3.0                    4.83                 14.49
10              3.0                    4.82                 14.46
11              3.0                    4.77                 14.31
12              5.0                    2.86                 14.30
13              3.0                    4.66                 13.98
14              3.0                    4.62                 13.86
15              3.0                    4.57                 13.71
16              3.0                    4.45                 13.35
17              3.0                    4.32                 12.96
18              3.0                    4.26                 12.78
19              3.0                    4.26                 12.78
20              3.0                    4.25                 12.75
21              3.0                    4.15                 12.45
22              3.0                    4.15                 12.45
23              3.0                    4.12                 12.36
24              3.0                    4.06                 12.18
25              4.0                    3.02                 12.08
26              3.0                    3.98                 11.94
27              3.0                    3.98                 11.94
28              4.0                    2.97                 11.88
29              3.0                    3.90                 11.70
..              ...                     ...                   ...
750             1.0                    1.36                  1.36
751             1.0                    1.36                  1.36
752             1.0                    1.32                  1.32
753             1.0                    1.28                  1.28
754             1.0                    1.28                  1.28
755             1.0                    1.28                  1.28
756             1.0                    1.27                  1.27
757             1.0                    1.27                  1.27
758             1.0                    1.27                  1.27
759             1.0                    1.24                  1.24
760             1.0                    1.24                  1.24
761             1.0                    1.24                  1.24
762             1.0                    1.24                  1.24
763             1.0                    1.24                  1.24
764             1.0                    1.24                  1.24
765             1.0                    1.21                  1.21
766             1.0                    1.20                  1.20
767             1.0                    1.20                  1.20
768             1.0                    1.16                  1.16
769             1.0                    1.14                  1.14
770             1.0                    1.11                  1.11
771             1.0                    1.06                  1.06
772             1.0                    1.06                  1.06
773             1.0                    1.03                  1.03
774             1.0                    1.03                  1.03
775             1.0                    1.03                  1.03
776             1.0                    1.03                  1.03
777             1.0                    1.03                  1.03
778             1.0                    1.03                  1.03
779             1.0                    1.03                  1.03

[780 rows x 3 columns]